body {
    background: #2c2c2c;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

#heading {
    background: #2c2c2c;
    color: #dad9d9;
    padding: 10px;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
.stupidhorizontalline {
    
    height: 1px;
    background: linear-gradient(to right, #2c2c2c, white, #2c2c2c);
    margin: 0;
    padding: 0;
    width: calc(100% + 10px);
}
.game {
    width: 50%;
    height: 100%;
    background: #474545;
    border: 1px solid #dad9d9;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.1s ease-in-out;
}
.game-image > img {
    width: 100px;
    height: 100%;
    
}
.game-button {
    width: 100%;
    height: 100%;
    background: #474545;
    border: 1px solid #dad9d9;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.1s ease-in-out;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.game-info {
    width: 50%;
    height: 100%;
    background: #474545;
    border: 1px solid #dad9d9;
    margin: 0;
    padding: 0;
    display: inline-flex;
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.1s ease-in-out;
}