@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
a {
  font-family: 'Comic Sans MS';
  font-size: 50px;
}
.verysmall {
  font-size: 1px;
}
h1 {
  font-family: 'Comic Sans MS';
  font-size: 70px;
}
* {
  white-space: nowrap;
}
#updatescreen {display: none;}
#menu {visibility: visible;}
.vertLine {
  border-left: 2px solid rgb(58, 59, 58);
  height: 30px;
}
.toprightcorner {
  float: right;
  text-decoration: none;
  width: 50px;
  height: 50px;
}